@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";

@theme {
  /* --color-main-orange: rgb(253, 127, 32);
  --color-secondary-orange: hsl(28, 98%, 70%);
  --color-amber: rgb(253, 183, 80);
  --color-main-black: rgb(1, 1, 0);
  --color-main-white: hsl(0, 5%, 70%);
  
  --color-background: linear-gradient(
    to bottom right,
    rgba(253, 127, 32, 0.9),
    rgba(252, 46, 32, 0.85)
    );
    --color-main-background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.85) ;
      );
      --color-black-start: rgba(10, 0, 0, 1);
      --color-black-end: rgba(20, 20, 20, 0.9); */
  --color-main-orange: rgb(255, 112, 3);
  --color-main-orange-rgb: 255, 112, 3;
  --color-black-900: hsl(340, 60%, 1%);
  --color-black-800: hsl(0, 25%, 2%);
  --color-black-700: hsl(0, 17%, 2%);
  --color-black-600: hsl(0, 7%, 3%);
  --color-black-500: hsl(0, 0%, 4%);
  --color-black-400: hsl(0, 25%, 2%);
  --color-black-300: hsl(0, 1%, 14%);

  --color-error-red: rgb(252, 46, 32);
  --color-success-green: rgb(22, 163, 74);

  --color-gray-400: hsl(0, 0%, 29%);
  --color-gray-300: #b5b5b5;
  --color-gray-200: #e6e6e6;
  --color-gray-100: #f2f2f2;

  --height-main: calc(100svh - 4.5rem);

  --width-small: calc(20rem);
  --width-small-with-padding: 18rem;

  --width-input: 2.5rem;

  --min-width-small: var(--width-small);
  --font-display: "Oswald", "sans-serif";

  --padding-mobile: 0.5rem;
  --padding-desktop: 1rem;

  --shadow-border-t: 0 -1px 0px -0px;
  --shadow-border-b: 0 1px 0px -0px;
}
@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .background {
    background: radial-gradient(
      var(--color-black-300),
      var(--color-black-700),
      var(--color-black-900)
    );
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@utility scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-default {
  /* Firefox */
  scrollbar-width: auto;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: block;
  }
}

.box {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #000);
  animation: animatesurface 1.5s ease-in-out infinite;
}
@keyframes animatesurface {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200px);
  }
}
.cube {
  color: rgba(3, 233, 244, 1);

  box-shadow: 0 0 5px rgba(var(--color-main-orange-rgb), 1),
    0 0 25px rgba(var(--color-main-orange-rgb), 1),
    0 0 50px rgba(var(--color-main-orange-rgb), 1),
    0 0 150px rgba(var(--color-main-orange-rgb), 1);
  transform-origin: bottom right;
  animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  60%,
  70%,
  80%,
  100% {
    transform: rotate(90deg);
  }
  65% {
    transform: rotate(85deg);
  }
  75% {
    transform: rotate(87.5deg);
  }
}
