@import "tailwindcss";
:root {
}

@theme {
  --color-main-orange: rgb(253, 127, 32);
  --color-red-orange: rgb(252, 46, 32);
  --color-amber: rgb(253, 183, 80);
  --color-main-black: rgb(1, 1, 0);

  --height-main: calc(100vh - 4rem);

  --width-small: calc(20rem);
  --width-small-with-padding: 18rem;

  --min-width-small: var(--width-small);
}
